extends layout

block content
	h1 EfficientTime
	p.lead A revolutionary new app to fight procrastination.
	h2 Features
	ul
		li Gain XP when you do work and hack your brain's reward system.
		li Claim your place on the leaderboard and compete with other people.
		li Review your progress to see what you can do better.
		li Set goals for yourself.
		li Increase your productivity!
	b Sign up for free today!
